div{
    .container {
        padding: 10px;
    }
    // width:50%;
    // display: inline-block;
    
    h2{
        font-weight: bolder;
        margin-left: 50%;
        margin-bottom: 15px;    
        // text-align: right;
    }
    form{
        padding: 10px;
        width:50%;
        background-color: lightgrey;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        float:right;
        div{
            float:right;
            display: inline-flex;
            input{
                width:100%
            }
            button{
                float:right;
            }
        }
    }
}
.well{
    min-height:353px;
    background-image: url('../../assets/images/login-bg.jpg');
    // background-size: 742px 333px;
    background-repeat: no-repeat;
}